<div class="plans_detail">
  
  <div class="alert alert-info">You can add only <strong><%= current_user.allowed_pins %> </strong> pins.</div>
  <h1>Increase your total pin count: </h1>
  <br/>
  <div class="row">
    
    <div class="col-md-offset-2 col-md-4">
      <div class="panel panel-default">
          <div class="panel-heading">
            <h1>$10 - Silver Plan</h1>
          </div>
          <div class="panel-body">
            <ul>
              <li> - 25 Pins </li>
              <li> - Some feature </li>
              <li> - Other</li>
            </ul>
          </div>
          <div class="panel-footer center">
            <button class="btn btn-primary" data-title="$10 - Silver Plan">Buy Now</button>
           </div>
        </div>    
    </div>

    <div class="col-md-4">
      <div class="panel panel-default">
          <div class="panel-heading">
            <h1>$25 - Gold Plan</h1> 
          </div>
          <div class="panel-body">
            <ul>
              <li> - 100 Pins </li>
              <li> - All feature </li>
              <li> - Other</li>
            </ul>
          </div>
          <div class="panel-footer center">
            <button class="btn btn-primary" data-title="$25 - Gold Plan">Buy Now</button>
           </div>
        </div>    
    </div>


  </div>
</div>