<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
			<h1>Social Features </h1>
		 </div>
  </div>
  <div class="panel-body">
			<div class="container" style="height:300px;">
					<div class="row">
						<div class="col-md-4 text-center">
							<a href="/instagram/connect">
							 <img src="/images/instagram.png" alt="Instagram"> <br>
							 <label for="Instagram">Instagram</label>
							</a>
						</div>
						<div class="col-md-4 text-center">
							<a href="/fb/connect">
							 <img src="/images/facebook.png" alt="facebook"> <br>
							 <label for="facebook">Facebook</label>
							 </a>
						</div>
						<div class="col-md-4 text-center">
							 <!-- <img src="/images/twitter.png" alt="twitter"> <br>
							 <label for="twitter">Twitter</label> -->
						</div>
					</div>	


			</div>


  </div>
   
</div>
	