<ul class="nav nav-tabs nav-stacked">
  <li ><a href="/user_recent_media">My Recent Post</a></li>
  <li><a href="/user_media_feed">My Feed</a></li>
  <!-- <li><a href="#">Search Teg</a></li> -->
  <!-- <li><a href="#">Messages</a></li> -->
</ul>